{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:sonarjs/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "jsx-a11y",
    "no-use-extend-native",
    "optimize-regex",
    "prettier",
    "promise",
    "react-hooks",
    "react",
    "react",
    "sonarjs"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "ignorePatterns": ["node_modules", "dist", "*.d.ts", "tsconfig.node.json"],
  "rules": {
    "arrow-body-style": "off",
    "import/order": [
      "warn",
      {
        "groups": [
          ["builtin", "external"],
          ["internal", "parent", "index"],
          "sibling",
          "type",
          "object"
        ],
        "pathGroups": [{ "pattern": ".*/*.module.scss", "group": "object" }],
        "newlines-between": "always"
      }
    ],
    "import/extensions": ["warn", "never"],
    "import/no-extraneous-dependencies": ["error", { "packageDir": "./" }],
    "import/prefer-default-export": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "linebreak-style": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-param-reassign": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-use-extend-native/no-use-extend-native": "error",
    "optimize-regex/optimize-regex": "warn",
    "prettier/prettier": ["warn", { "endOfLine": "auto" }],
    "react/function-component-definition": ["warn", { "namedComponents": "arrow-function" }],
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": ["warn", { "prop": "ignore" }],
    "react/no-unstable-nested-components": ["error", { "allowAsProps": true }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "sonarjs/cognitive-complexity": ["error", 30]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  }
}
