@import '/src/shared/scss/_variables.scss';
@import '/src/shared/scss/_mixins.scss';


.header {
  padding-inline: 0 !important;

  .header_content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 24px;

    @include media-breakpoint-down(xs) {
      padding: 0 12px;
    }
  }

  .logo {
    height: 48px;
    margin-right: 40px;
    cursor: pointer;
  }

  .menu {
    width: 100%;
    overflow: auto;

    @media (max-width: 361px) {
      :global(.ant-menu-overflow-item) {
        margin-left: auto;
      }
    }
  }

}


.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1290px;
  min-height: calc(100vh - 64px);
  margin: 0 auto;
  padding: 24px;

  @include media-breakpoint-down(xs) {
    padding: 12px;
    gap: 12px;
  }

  .breadcrumb {
    color: rgba(0, 0, 0, 0.88);
    cursor: pointer;
    opacity: 0.45;
    transition: all $duration;

    svg {
      margin-right: 4px;
    }

    &:hover {
      opacity: 1 !important;
    }
  }

  .content {
    padding: 24px;
    background-color: white;
    flex: none;

    @include media-breakpoint-down(xs) {
      padding: 24px 12px;
    }
  }
}