@import '/src/shared/scss/_variables.scss';

.profilePage {
  width: 100%;
}


.edit {
  position: absolute;
  height: 350px;
  width: 808px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 105px;
  top: 250px;
  background: #FFFFFF;
  border-radius: 4px;

}

.edit p {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  /* identical to box height */


  /* Gray 1 */

  color: #333333;


}

// .leftbox{
//   position: absolute;
//   background-color: #092A4F;
//   height: 1721px;
//   width: 222px;

// }
.rightbox {
  position: sticky;
  background: #FBFBFB;
  height: 1721px;
  margin-left: 222px;
  margin-top: 0;

}

.avatar {
  position: absolute;

  height: 64px;
  width: 64px;
  margin-left: 105px;
  margin-top: 100px;

}


.full_name {
  position: absolute;
  margin-left: 180px;
  top: 80px;
  width: 300px;
  height: 100px;

  h3 {

    width: 288px;
    height: 58px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #06192D;

  }


}



.full_name p {

  position: absolute;
  top: 50px;
  word-spacing: 30px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #06192D;
}


nav a {
  list-style: none;
  padding: 35px;
  font-size: 1.3em;
  display: block;
  transition: all.3s ease-in-out;
  color: #E2E2E2;
}

nav a:hover {
  color: #10ac84;
  cursor: pointer;
  transform: scale(1);


}