@import '/src/shared/scss/_variables.scss';

.form {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  .btn_submit {
    margin-top: 10px;
    float: right;
  }

  .prefixOutlined {
    opacity: 0.4;
    margin-right: 5px;
  }
}