@import '/src/shared/scss/_variables.scss';
@import '/src/shared/scss/_mixins.scss';

.layout {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: calc(100vh - 50px);
    margin: 25px auto;
    padding: 24px;
    background-color: white;

    @media (max-width: 900px) {
      margin: 0 auto;
    }

    @include media-breakpoint-down(xs) {
      padding: 12px;
      gap: 12px;
    }

    @include media-breakpoint-down(xs) {
      padding: 24px 12px;
    }
  }

  .box {
    margin-top: 30px;
    position: relative;
  }

  .display {
    display: flex !important;
  }

  .top {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba($color-primary, 0.2);
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    color: rgba($color-primary, 0.7);
    font-weight: 600;
  }

  .tabs {
    display: flex;

    .tab {
      padding: 5px 14px;
      border-right: 2px solid rgba($color-primary, 0.2);
      border-bottom: 2px solid rgba($color-primary, 0.2);
    }

    .tab_completed {
      background-color: rgba($color-primary, 0.1);
    }

    .tab_current {
      border-bottom: none;
    }
  }


  .timer {
    padding: 5px 14px;
    opacity: 0.9;
    display: flex;
    gap: 3px;
  }

  .btn_start {
    display: none;
    max-width: 240px;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
  }

  .results {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin: auto;
    gap: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .result {
    width: 100%;
    color: rgba($color-primary, 0.7);
    font-size: 18px;
    font-weight: 600;

    span:first-child {
      margin-right: 16px;
    }
  }
}