@import '/src/shared/scss/_variables.scss';

.home {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  .space {
    display: flex;
    justify-content: space-between;
    gap: 24px !important;
    width: 100%;
  }

  .title {
    margin-bottom: 0;

    @media (max-width: 440px) {
      .line_icon {
        display: none;
      }
    }
  }

  .line_icon {
    margin-right: 8px;
    transform: translateY(3px);
  }
}