@import '/src/shared/scss/_variables.scss';

.profile {
  display: flex;
  flex-direction: column;

  .avatar {
    background-color: $color-primary;
    vertical-align: sub;
    margin-right: 14px;
  }

  .title_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-bottom: 12px;

    .btn {
      margin-bottom: 14px;
    }
  }
}

.table {

  th,
  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :global(.ant-table-body) {
    scrollbar-width: thin;
    scrollbar-color: #d9d9d9 #ffffff;

    // для Chrome/Edge/Safari
    &::-webkit-scrollbar {
      height: 18px;
      width: 18px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d9d9d9;
      border: 5px solid #ffffff;
      border-radius: 8px;
    }
  }

  .date_start_end {
    display: flex;
    gap: 10px;
  }
}